- @posts.each do |post|
  = link_to (image_tag post.image.url(:small))
  %h2= link_to post.title, post
  %p
    = post.comments.count
    Komentar

  %p
    = post.get_upvotes.size
    Likes

  %p
    = post.get_downvotes.size
    Dislike

= link_to "Post Baru", new_post_path
