#post_show
  %h1= @post.title
  %p.username
    Dibuat oleh
    = @post.user.name
    sekitar
    = time_ago_in_words(@post.created_at)
    yang lalu
  .clearfix
    .post_image_description
      = image_tag @post.image.url(:medium)
      .description= simple_format(@post.description)
    .post_data
      = link_to "Visit link", @post.url, class: "button"
      = link_to like_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@post.get_upvotes.size, "Like")
      = link_to dislike_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@post.get_downvotes.size, "Dislike")
      %p.data
        %i.fa.fa-comment-o
        = pluralize(@post.comments.count, "Komentar")
      - if @post.user == current_user
        = link_to "Edit", edit_post_path, class: "data"
        = link_to "Hapus", post_path(@post), method: :delete, data: { confirm: "Apakah kamu yakin?" }, class: "data"
    #random_post
      %h3 Inspirasi Acak
      .post
        .post_image
          = link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)
        .post_content
          .title
            %h2= link_to @random_post.title, post_path(@random_post)
          .data.clearfix
            %p.username
              Dibuat oleh
              = @random_post.user.name
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @random_post.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @random_post.get_upvotes.size
                Likes
#comments
  %h2.comment_count= pluralize(@post.comments.count, "Komentar")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render 'comments/form'
